.chats-layout {
  margin: auto;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  &__chats {
    background: white;
    flex-basis: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  &__buttons {
    text-align: center;
  }
}