html, body {
  height: 100%;
  margin: 0;

}

html {
  font-size: 62.5%;
}

body {
  background: #d3f3f5;
  font-size: 1.5rem;
}

#root, .chats-layout, .App {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  cursor: pointer;
  &_dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }
  &:focus {
    outline: 0
  }
}

.button-group {
  &__button {
    margin-bottom: 0.1rem;
  }
}